**/node_modules/
**/.next/
**/.vercel/
**/.env
**/.env.*
**/*.db
**/*.zip
**/*.png
**/*.jpeg
**/*.jpg
**/*.log
dist/
build/
out/
/node_modules/
/wakil-ai/node_modules/
/wakil-desktop/node_modules/
/Wakil/node_modules/
/wakil-ai-tech/node_modules/

.vercel
.env*.local
